Source: bake
Section: devel
Priority: optional
Maintainer: Robert Ancell <robert.ancell@gmail.com>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 7.0.50~),
               itstool,
               libglib2.0-dev,
               pkg-config,
               valac-0.18
Homepage: https://launchpad.net/bake

Package: bake
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Build system
 Bake is an easy to use build system.
 .
 This package contains a command line tool for using Bake.

Package: libbake0
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Build system library
 Bake is an easy to use build system.
 .
 This package contains a library to build Bake projects.

Package: libbake-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         libbake0 (= ${binary:Version})
Description: Build system library (development files)
 Bake is an easy to use build system.
 .
 This package contains header files and development information, which
 is useful for building tools that use Bake.
