Source: bake
Section: devel
Priority: optional
Maintainer: Robert Ancell <robert.ancell@gmail.com>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 7.0.50~),
               valac-0.18
Homepage: https://launchpad.net/bake

Package: bake
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Bake
 Bake is an easy to use build system.
