#!/usr/bin/make -f 

%:
	dh $@

override_dh_auto_configure:
	make bake-bootstrap
	./bake-bootstrap --configure resource-directory=/usr install-directory=debian/bake

override_dh_auto_clean:
	dh_auto_clean
	rm Recipe.conf
