#!/usr/bin/make -f 

LDFLAGS+=-Wl,--as-needed

%:
	dh $@

override_dh_auto_configure:
	make bake-bootstrap
	./bake-bootstrap --configure resource-directory=/usr install-directory=debian/bake
	cat Recipe.conf
